In [1]:
#installing pymongo if not installed
!pip install pymongo

Requirement already satisfied: pymongo in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pymongo) (2.4.2)

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip install --upgrade pip

In [2]:
#importing pymongo
import pymongo

In [5]:
#connecting with db
def connect_db():
    try:
        
        #connecting with server
        myClient = pymongo.MongoClient('mongodb://localhost:27017')
        
        #connecting with db
        myDb = myClient['studentsdb']
        
        #connecting with collection
        myCollection = myDb['personal_details']
        
        return myCollection
    
    except Exception as e:
        print('Error is ' + str(e))

In [19]:
#adding data
def add_data(myCollection):
    try:
        #one new document
        newStudent = {'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
        
        #many new stds
        newStudents = [
                          {'name': 'Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'},
                          {'name': 'Bakht', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
                      ]
        
        #adding single document
        newStdAdded = myCollection.insert_one(newStudent)
        
        #adding many documents
        newStdsAdded = myCollection.insert_many(newStudents)
        
        #printing ids
        print('Ids are ' + str(newStdAdded.inserted_id))
        print('Ids are ' + str(newStdsAdded.inserted_ids))
        
    except Exception as e:
        print('Error is ' + str(e))

In [21]:
#getting data
def get_data(myCollection):
    try:
        
        #getting all data
        allData = myCollection.find()
        
        for data in allData:
            print(data)
        
    except Exception as e:
        print('Error is ' + str(e))

In [38]:
#updating data
def update_data(myCollection):
    try:
        
        #query -> which thing to be updated
        myQuery = {'name': 'Hamza'}
        
        #newData -> data to be added
        newData = {'$set' : {'name': 'Muhammad Hamza'} }
        
        #performing updation
        update = myCollection.update_many(myQuery, newData)
        
        #printing updating one
        print('Printing updating data')
        
        allData = myCollection.find({'name': {'$regex': '^M'}})
        
        for data in allData:
            print(data)
        
    except Exception as e:
        print('Error is ' + str(e))

In [46]:
#deleting data
def delete_data(myCollection):
    try:
        
        #query -> which thing to be deleted
        myQuery = {'name': 'Bakht'}
        
        #performing updation
        update = myCollection.delete_many(myQuery)
        
        #printing updated data
        print('Printing updated data')
        
        allData = myCollection.find()
        
        for data in allData:
            print(data)
        
    except Exception as e:
        print('Error is ' + str(e))

In [48]:
#perforimg CRUD
try:
    myCollection = connect_db()
    
    #checking collection
    if myCollection is not None:
        add_data(myCollection)
        
        print('Data in Personal Details')
        get_data(myCollection)

        update_data(myCollection)
        
        delete_data(myCollection)
        
except Exception as e:
    print('Error is ' + str(e))

Ids are 6516bedf057e678577f683a4
Ids are [ObjectId('6516bedf057e678577f683a5'), ObjectId('6516bedf057e678577f683a6')]
Data in Personal Details
{'_id': ObjectId('6516bb3a057e678577f68363'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bbd0057e678577f68367'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bbdb057e678577f6836b'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bc09057e678577f68370'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bd7a057e678577f68374'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bd86057e678577f68378'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bdc8057e678577f6837c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bdd2057e678577f68380'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be0f057e678577f68384'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be18057e678577f68388'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be2b057e678577f6838c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be3d057e678577f68390'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be8f057e678577f68394'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516beae057e678577f68398'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bebe057e678577f6839c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516becf057e678577f683a0'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516becf057e678577f683a1'), 'name': 'Muhammad Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a4'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a5'), 'name': 'Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a6'), 'name': 'Bakht', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
Printing updating data
{'_id': ObjectId('6516becf057e678577f683a1'), 'name': 'Muhammad Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a5'), 'name': 'Muhammad Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
Printing updated data
{'_id': ObjectId('6516bb3a057e678577f68363'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bbd0057e678577f68367'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bbdb057e678577f6836b'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bc09057e678577f68370'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bd7a057e678577f68374'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bd86057e678577f68378'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bdc8057e678577f6837c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bdd2057e678577f68380'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be0f057e678577f68384'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be18057e678577f68388'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be2b057e678577f6838c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be3d057e678577f68390'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516be8f057e678577f68394'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516beae057e678577f68398'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bebe057e678577f6839c'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516becf057e678577f683a0'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516becf057e678577f683a1'), 'name': 'Muhammad Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a4'), 'name': 'Abdul Hanan Nawaz', 'Degree': 'SE', 'Campus': 'NUML, ISB'}
{'_id': ObjectId('6516bedf057e678577f683a5'), 'name': 'Muhammad Hamza', 'Degree': 'SE', 'Campus': 'NUML, ISB'}